<div class="animate__animated animate__fadeIn animate__faster">

    <h3>Buscar por region <small>{{regionActiva | titlecase}}</small></h3>
    <hr>

    <h5>Selccione la region</h5>

    <div class="row">
        <div class="col">
            <!--forma base para estos test class="btn btn-outline-primary me-2"
            
            ❌ esta forma rompe el estilo de btn-outline-primary 
            [class.btn-primary]="region === regionActiva" 
        -->
            <!--✔️ Es forma solo agrega la clase active de Bootstrap 
            y no rompe el estilo de btn-outline-primary
            [class.active]="region === regionActiva"
         -->
            <!--❌ Esta forma Javascript evalua todas las condiciones
            [ngClass]="{
                'btn-primary': regionActiva === region,
                'btn-outline-primary': regionActiva !== region
            }"
        -->
            <button *ngFor="let region of regiones;" [class]="getClaseCSS(region)" (click)="activarRegion(region)">
                {{region}}
            </button>
        </div>
    </div>

    <div *ngIf="paises.length > 0" class="row animate__animated animate__fadeIn animate__faster">
        <div class="col">
            <app-pais-tabla [paises]="paises"></app-pais-tabla>
        </div>
    </div>
</div>