<h2>Busquedas</h2>
<hr>
<ul class="list-group">
    <!-- 
        ->Es necesario agregar [routerLinkActiveOptions]
        porque no definio ninguna ruta en el routerLink
        ->role="button" para cambiar mouse a pointer (bootstrap)
    -->
    <li routerLink="" routerLinkActive="active animate__animated animate__pulse" 
        [routerLinkActiveOptions]="{exact: true}"
        class="list-group-item">
        Buscar país
    </li>
    <li routerLink="region" routerLinkActive="active animate__animated animate__pulse" 
        class="list-group-item">
        Por region
    </li>
    <li routerLink="capital" routerLinkActive="active animate__animated animate__pulse" 
        class="list-group-item">
        Por capital
    </li>
</ul>