<p-menubar [model]="items">    
<div class="card">
    <div class="flex justify-contet-end flex-wrap card-container">        
        <div class="flex align-items-center justify-content-center font-bold text-white m-2">LOCALE_ID: {{getLocaleId}}</div>
        <div class="flex align-items-center justify-content-center font-bold text-white m-2">DEFAULT_CURRENCY_CODE: {{getDEFAULT_CURRENCY_CODE}}</div>
        <div class="flex align-items-center justify-content-center font-bold text-white m-2"><img src="./favicon.ico" alt=""></div>
    </div>
</div>    
</p-menubar> 